body {
  margin: 10px;
}

/* What is difference
- : PSEUDO-ELEMENTS :: To style part of an element
eg. First letter
- :: PSEUDO-CLASSES :: To style elements in a Particular state
eg. Hovered anchor
*/

p::first-letter {
  font-size: 140%;
}

p::first-line {
  font-weight: bold;
}

/* Block text */
::selection {
  background-color: pink;
}

p::after {
  content: "...";
  display: block;
}
