body {
  margin: 10px;
}

/* a[href*="google"] {
  color: orange;
} */

/* href^ :: Start with "" */
/* a[href^="https"] {
  color: orange;
} */

/* href$ :: Start with "" */
/* a[href$=".com"] {
  color: orange;
} */

/* href$ :: Start with "" */
a[href^="https"][href$=".com"] {
  color: orange;
}
